@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}



body{
    background: rgb(236, 236, 236);
}

:root{
    --primary-color: #FBA700;
    --secondary-color: #2CCDA8;
}

img{
    display: block !important;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav{
    background: #222;
    padding: 18px 0;
    color: #333;
    box-shadow: 0px -5px 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    min-width: 100%;
    position: relative;
}

.container{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h4{
    color: white;
}

.logo{
    width: 220px;
    height: 0 auto;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}



.links li{
    position: relative;
}

.links a{
    font-weight: lighter;
    padding: 0 20px;
    color:  var(--primary-color);
    color: rgb(250, 249, 249);
    text-align: center;
    text-transform: uppercase;
}


.active-section{
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -29px;
    left: 0%;
    background: linear-gradient(to right, #ff7c01, #ff016b);
}

.menu{
    display: none;
}




.about-me-desc{
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px rgb(0, 0, 0);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.about-me{
    padding: 100px 0;
    background: #222;
    display: none;
}

.header{
    width: 100%;
    height: 90vh;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 70px 0;
    background: linear-gradient(to right, #ff7c01, #ff016b);
}

.the-header-img{
    max-width: 100%;
    height: auto;
}



.header > *{
    z-index: 99;
}

.header-content{
    padding-left: 10%;
    z-index: 999;
}

.main-heading{
    color: var(--primary-color);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 90px;
    z-index: 999;
}

.sub-heading{
    font-size: 28px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

.header-btns{
    margin-top: 60px;
}

.btn{
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    color: black;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bolder;
}



.header-img img{
    max-width: 70%;
    margin: 0 auto;
    height: auto;
    transform: translateY(-20px);
}

.mobile-btns{
    display: none;
}

/*About Me*/
.about-me-section{
    padding: 120px 0 200px;
    position: relative;
}

.about-me-section .skewed{
    background: white;
    z-index: 99;
    top: -50px;
    right: 0;
    width: 100%;
    height: 100px;
    transform: skewY(2deg);
}

.about-img{
    position: absolute;
    height: 180px;
    width: auto;
    top: 40px;
    right: 60px;
}



.about-me-container{
    max-width: 85%;
    margin: 0 auto;
}

.about-heading{
    font-size: 70px;
    text-transform: uppercase;
}

.about-job{
    font-size: 26px;
    color: #fb4700;
    margin: 10px 0;
}

.about-content{
    font-size: 24px;
    color: #535353;
}


/*projects section*/

.projects-section{
    max-width: 100%;
    margin: 0 auto;
    padding: 120px 0px 0px;
    background: rgb(236, 236, 236);
    position: relative;
}

.projects-section .skewed{
    background: linear-gradient(to right, #ff7c01, #ff016b) !important;
}

.skills-memoji{
    position: absolute;
    top: -20px;
    right: 8%;
    width: 160px;
    height: auto;
}

.project-item{
    max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    margin-bottom: 50px;
    background-color: rgb(26, 25, 25);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-100%);
}

.project-item > *{
    max-width: 100%;
}

.project-item-1{
    position: relative;
}

.memoji-1{
    position: absolute;
    width: 275px;
    height: auto;
    right: 90px;
    top: -270px;
}

.project-img{
    border-radius: 4px 0px 0px 4px;
    min-width: 100%;
}

.project-item-content{
    padding: 60px;
}

.project-item-content h1{
    font-size: 40px;
    color: white;
}

.project-item-content span{
    color: var(--primary-color);
    font-size: 16px;
}

.project-item-content h2{
    color: white;
    font-weight: lighter;
    margin-bottom: 50px;
}

.project-item-content a{
   background: linear-gradient(to right, #ff7c01, #ff016b);
    border: 3px solid black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    transition: all 0.7s;
}

.project-item-content a:hover{
    background: transparent;

    color: #fb4700;
}


.title{
    margin-left: 8%;
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
}


/*skills*/
.skills-section{
    position: relative;
    background-color: rgb(247, 75, 33);
    padding: 100px 0 170px;
}

.skills-section .skewed{
    background-color: rgb(247, 75, 33);
}

.languages-grid{
    max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.language-element{
    max-width: 100%;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.language-element img{
    max-width: 100px;
    height: auto;
    margin-bottom: 30px;
}

.language-name{
    font-size: 22px;
}

/*footer*/
.footer{
    background-color: black;
    padding: 100px 0;
    position: relative;
}

.skewed{
    position: absolute;
    top: -50px;
    right: 0;
    width: 100%;
    height: 100px;
    background: black;
    transform: skewY(-2deg);
}

.skewed.reverse{
    position: absolute;
    top: -50px;
    right: 0;
    width: 100%;
    height: 100px;
    background: black;
    transform: skewY(2deg);
}

.connect-grid{
    max-width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.connect-item{
    color: rgb(255, 255, 255);
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: 50px;
    border-radius: 4px;
    position: relative;
}

.connect-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(to right, #ff7c01, #ff016b);
    border-radius: 0px 0px 2px 2px;
}

.connect-item i{
    color: #e9e9e9;
    font-size: 30px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(77, 77, 77);
}

.color-line{
    width: 60px;
    height: 4px;
   /* background: #FBA700;*/
  /* background-color: #ffaf01;*/
    background: linear-gradient(to right, #ff7c01, #ff016b);
}

.connect-item > *{
    margin-bottom: 18px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img{
   min-width: 70px;
   max-width: 70px;
   height: auto;
}

@media(max-width: 1200px){
  

    .main-heading{
        font-size: 70px;
    }
    
    .sub-heading{
        font-size: 24px;
    }
}

@media(max-width: 992px){
  

    .project-item{
        display: grid;
        grid-template-columns: 1fr;
        transform: translateY(-40%);
    }

    .memoji-1{
        position: absolute;
        width: 200px;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        top: -195px;
    }

    .skills-memoji{
        width: 100px;
        height: auto;
    }

    .languages-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {

  

    .links{
        position: absolute;
        top: 100%;
        flex-direction: column;
        background: #222;
        width: 100%;
        left: 0;
        padding: 0px;
        height: 0px;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    .links.active{
        height: 200px;
        padding: 20px 0;
    }


    .links li{
        margin-bottom: 20px;
    }



    .menu{
        display: block;
        color: #888;
    }
    
   .project-item{
        display: grid;
        grid-template-columns: 1fr;
        transform: translateY(-60%);
    }

    .memoji-1{
        position: absolute;
        width: 160px;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        top: -157px;
    }
    

   

    .project-item-content{
        padding: 40px;
    }

    .connect-grid{
        grid-template-columns: 1fr;
    }

    .project-item-content h1{
        font-size: 30px;
        color: white;
    }
    
    .project-item-content span{
        color: var(--primary-color);
        font-size: 14px;
    }
    
    .project-item-content h2{
        color: white;
        font-weight: lighter;
        margin-bottom: 35px;
    }
    

}

@media(max-width: 600px){

  

    .header{
        height: 75vh;
    }

    .header-content{
        padding-left: 0px;
    }


    .main-heading{
        font-size: 50px;
        text-align: center;
    }
    
    .sub-heading{
        font-size: 18px;
        text-align: center;
    }

    .header-btns{
        margin-top: 20px;
    }

    .btn{
        display: block;
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

   
    .project-item-content{
        padding: 30px;
    }
    
    .project-item-content h1{
        font-size: 26px;
        color: white;
    }
    
    .project-item-content span{
        color: var(--primary-color);
        font-size: 12px;
    }
    
    .project-item-content h2{
        color: white;
        font-weight: lighter;
        margin-bottom: 30px;
        font-size: 16px;
    }


    .project-item-content a{
        display: block;
        width: 100%;
        text-align: center;
     }

     .language-element{
        padding: 25px 0;
    }

    .language-element img{
        margin-bottom: 18px;
    }
 
}